<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>

    <form th:action="@{/usuario/login}" method="post">

    <label>Usuario:</label>
    <input type="number" name="id_usuario" required><br>

    <label>Contraseña:</label>
    <input type="password" name="contrasena" required><br>

    <button type="submit">Iniciar Sesión</button>
</form>

<p th:if="${param.error}">Usuario o contraseña incorrecta</p>

    <p th:if="${error}" th:text="${error}" style="color:red"></p>
</body>
</html>
